<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="~{fragments/head}"></div>
    <p></p>
    <table border="5">
        <thead>
        <tr>
            <th></th>
            <th> Lunes </th>
            <th> Martes </th>
            <th> Miércoles </th>
            <th> Jueves </th>
            <th> Viernes </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sesion:${sesiones}">
            <td th:text="${sesion.diaSemana}"></td>
            <td th:text="${sesion.numeroSesion}"></td>
            <td th:text="${sesion.horaInicio}"></td>
            <td th:text="${sesion.horaFin}"></td>
            <td th:text="${sesion.aula}"></td>
            <td th:text="${sesion.responsable}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>